JWT_SECRET=replace_with_strong_secret

POSTGRES_DB=commit-crew-db
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=10.9.75.153
POSTGRES_PORT=5432


KAFKA_PORT=9094
KAFKA_UI_PORT=8090

ENGINE_MIN_DELAY=500ms
ENGINE_MAX_DELAY=2000ms
ENGINE_MAX_PRICE_IMPROVEMENT_BPS=50
